services:
  db:
    image: postgres:17
    container_name: database
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    networks:
      - dev
#    volumes:
#      -  ../data:/var/lib/postgresql/data

  app:
    build: .
    container_name: app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}
    networks:
      - dev


networks:
  dev:
#    volumes:
#      - ./app:/app

#volumes:
#  postgres_data: